/* CUSTOM PROPERTIES */
:root {
  --clr-accent-100: #FFEEB8;
  --clr-accent: #e94610;
  --clr-accent-900: #C52200;
  --clr-neutral-100: #ffffff;
  --clr-neutral-300: #595959;
  --clr-neutral-400: #333333;
  --clr-neutral-800: #0d0d0d;
  --clr-neutral-900: #000000;
}

/* RESET */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-neutral-800);
  font-family: 'Rowdies', cursive;
  font-size: clamp(.875rem, 1104.9474rem + -981.1088vw, 1.2rem);
  font-weight: 300;
  color: var(--clr-neutral-800);
}

img {
  display: block;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

/* TYPOGRAPHY */
header {
  text-align: center;
}

h1 {
  font-family: 'Faster One', cursive;
  font-size: clamp(2rem, 0.8750rem + 5.0000vw, 3.5rem);
  letter-spacing: .5rem;
  color: var(--clr-accent);
}

.tagline {
  display: inline;
  padding: .25rem;
}

.fa-plus {
  padding: .35rem;
}

.fa-plus:hover,
.fa-plus:focus {
  background-color: var(--clr-accent-900);
}

.tagline,
.fa-plus {
  border-radius: .25rem;
  background-color: var(--clr-accent);
}

/* LAYOUT */
body {
  display: grid;
  align-items: center;
}

.container {
  width: min(100%, 90em);
  margin: 0;
  margin: 0 auto;
  background-color: var(--clr-accent-100);
  overflow: auto;
}

header {
  height: 10em;
  margin-top: 0;
  padding: 1px;
  background-image: url("./images/background.jpg");
  background-position: center;
}

h1 {
  margin-left: 1rem;
}

.menu-item {
  display: grid;
  align-items: center;
  grid-template-areas: 
  "img details controls"
  "img details controls";
  gap: .5rem;
  width: 95%;
  margin-inline: auto;
}

.menu-item:first-child {
  margin-top: 1em;
}

.menu-item:not(:first) {
  margin-top: 10em;
}

.menu-img {
  width: 4em;
}

.menu-item-description {
  width: 60vw;
}

.menu-item-description h3 {
  margin: 0;
}

.menu-item-description p {
  margin-top: 0;

}